aiosqlite
alembic
annotated-doc
annotated-types
anyio
asyncpg
bcrypt==3.2.2
cffi
click
colorama
contourpy
cryptography
cycler
ecdsa
fastapi
fonttools
greenlet
httptools
idna
kiwisolver
Mako
MarkupSafe
matplotlib
numpy<2
packaging
passlib
pillow
psycopg
psycopg-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pyparsing
python-dateutil
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
SQLAlchemy
starlette
typing-inspection
typing_extensions
tzdata
uvicorn
watchfiles
websockets
redis
pytest-asyncio
pytest
openai
zhipuai
pgvector
celery
requests
playwright
email-validator
langchain-core
langgraph

langchain_zhipu
